<h1 align="center">
<img src="https://github.com/pyfar/gallery/raw/main/docs/{{ logo_path_gallery }}" width="300">
</h1><br>

[![PyPI version](https://badge.fury.io/py/{{ project_slug }}.svg)](https://badge.fury.io/py/{{ project_slug }})
[![Documentation Status](https://readthedocs.org/projects/{{ project_slug }}/badge/?version=latest)](https://{{ project_slug }}.readthedocs.io/en/latest/?badge=latest)
[![CircleCI](https://circleci.com/gh/{{ git_username }}/{{ project_slug | replace("_", "-") }}.svg?style=shield)](https://circleci.com/gh/{{ git_username }}/{{ project_slug | replace("_", "-") }})
[![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/pyfar/gallery/main?labpath=docs/gallery/interactive/pyfar_introduction.ipynb)

{{ project_long_description }}

## Getting Started

{{ project_getting_started }}

## Installation

Use pip to install {{ project_slug }}

    pip install {{ project_slug }}

(Requires Python {{ minimum_python_version }} or higher)

If the installation fails, please check out the [help section](https://pyfar-gallery.readthedocs.io/en/latest/help).

## Contributing

Check out the [contributing guidelines](https://{{ project_slug }}.readthedocs.io/en/stable/contributing.html) if you want to become part of pyfar.


VALID PYTHON VERSION {{ valid_python_versions }}