=======
History
=======

[Unreleased]
------------

Added
^^^^^

Changed
^^^^^^^

Deprecated
^^^^^^^^^^

Removed
^^^^^^^

Fixed
^^^^^

{{ version }} ({{ '%Y-%m-%d' | strftime }})
------------------

Added
^^^^^
* First release on PyPI.